<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6NsCMq7-HL8ytu1gfK4sOdOSC0w0N1WE</string>
	<key>GCM_SENDER_ID</key>
	<string>361651658601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plant.identification</string>
	<key>PROJECT_ID</key>
	<string>test-bundle-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>test-bundle-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361651658601:ios:ae5f05d1c815d4e0d0e7f8</string>
</dict>
</plist>